.parentContainer {
  position: relative;
}

.container {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #40a6b9;
}

button {
  position: relative;
  margin-top: 100px;
  z-index: 2;
}
